<!--Modificar la página principal para que, si el usuario ha iniciado sesión, se muestren únicamente los tweets de las personas que sigue-->

<!-- Verificamos que el usuario este logeado para poder crear tweets y seguir amigos -->
<% if user_signed_in? %>

  <div class="container">

    
    <!--listado de usuarios-->
    <% @users.each do |user|%>
      <% if !pre_follow(user)%>
          <p>Seguir a <%= user.user_name %></p>
          <img src="<%= user.user_photo %>" width="60" height="60" class="rounded-circle mb-2"> 
            <%= link_to follow_user_path(user.id), method: :post do %> 
            <i class="fas fa-user-plus fa-sm"></i><% end %> 
        <% else %>
          <p>Dejar de seguir a <%= user.user_name %></p>
          <%= link_to unfollow_user_path(user.id), method: :post do %>
          <i class="fas fa-user-minus fa-sm"></i> <% end %> 
      <% end %>
    <% end %> 
  </div>
  <%= render 'form', tweet: @tweet %>
<%end %>    

  <div class="mx-1">
      <%= render 'shared/tweets', tweet: @tweet %>
  </div>
  <br>

<!-- paginamos los tweets -->
<div class="container mx-auto">
    <div class="col-md-8 offset-md-3 mb-4">
        <%= link_to_next_page @tweets, 'Mostrar más tweets' %>
        <br>
        <%= link_to_prev_page @tweets, 'Volver a tweets anteriores' %>
    </div>
</div>