<div class="container">
<p  id="notice"><%= notice %></p>

<p>
<strong>Foto:</strong>
<img src="<%= @tweet.user.user_photo %>" width="60" height="60" class="rounded-circle mb-2">
</p>

<p>
<strong>Nombre:</strong>
<%= @tweet.user.user_name %>
</p>

<p>
<strong>Contenido:</strong>
<%= @tweet.content %>
</p>


<<<<<<< HEAD

=======
<p>
<!--<strong>Likes:</strong>
    <%@tweet.likes.each do |like| %>
        <ul style="list-style-type:none" >
            <img src="<%= like.user.user_photo %>" class="img-thumbnail rounded-circle" style="max-width: 130px;">
        </ul>        
    <% end %>
</p>
<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
</div>-->
>>>>>>> 16e11cf7e9e35eef6cdbc647c854ad091c1bb60b

<div class="container">
  <h2>Likes</h2>

  <div class="container">
    <!-- iteramos los likes para traer los id de usuario y luego sus fotos -->
    <p><%= @tweet.likes.count %> <%= (@tweet.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <div>
      <% Like.where(tweet_id: @tweet.id).each do |photo| %>
        <% user_photo =  photo.user_id %>
          <div class="d-inline-block p-2">
            <img src="<%= User.find(user_photo).user_photo%>" width="60" height="60" class="rounded-circle">
            <p><%= User.find(user_photo).user_name %></p>
          </div>
      <% end %>
    </div>
  </div>

  <br>
<<<<<<< HEAD
  
  <%= link_to 'Back', tweets_path %>
</div>


=======

  <%= link_to 'Back', tweets_path %>
</div>
>>>>>>> 16e11cf7e9e35eef6cdbc647c854ad091c1bb60b
