<div class="container">
<p  id="notice"><%= notice %></p>

<p>
<strong>Photo:</strong>
<img src="<%= @tweet.user.user_photo %>" width="60" height="60" class="rounded-circle mb-2">
</p>

<p>
<strong>Name:</strong>
<%= @tweet.user.user_name %>
</p>

<p>
<strong>Content:</strong>
<%= @tweet.content %>
</p>




<div class="container">
  <h2>Likes</h2>

  <div class="container">
    <!-- iteramos los likes para traer los id de usuario y luego sus fotos -->
    <p><%= @tweet.likes.count %> <%= (@tweet.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <div>
      <% Like.where(tweet_id: @tweet.id).each do |photo| %>
        <% user_photo =  photo.user_id %>
          <div class="d-inline-block p-2">
            <img src="<%= User.find(user_photo).user_photo%>" width="60" height="60" class="rounded-circle">
            <p><%= User.find(user_photo).user_name %></p>
          </div>
      <% end %>
    </div>
  </div>

  <br>
  
  <%= link_to 'Back', tweets_path %>
</div>


