<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1DA1F2">
    <div class="my-auto mx-4">
        <a class="navbar-brand text-white" href="<%=root_path %>"><i class="fab fa-twitter fa-2x"> Tweeter</i></a>
    </div>
    <ul class="navbar-nav">
        <% if user_signed_in? %>
            <li><%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-primary mx-4'  %></li>
        <% else %>
            
            <li><%= button_to 'Ingresar', new_user_session_path, :class => 'btn btn-primary mx-4' %></li>
            <li><%= button_to 'Registrarse', new_user_registration_path, method: :get, :class => 'btn btn-primary mx-4' %></li>
        <% end %>
    </ul>
    
    <div class="col-md-3 offset-md-2">
        <%= search_form_for @q do |f| %> 
        <div class="form-group">
            <%= f.label :content_cont %>
            <%= f.search_field :content_cont, class: "form-control", placeholder: "Search" %>
            <%= f.submit "Search", class: "btn btn-primary" %> 
        <% end %>
        </div>    
    </div>   
</nav>


   
   